<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/general.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css"/>
</head>
<body style="background-color: #dae2f1">
<div class="general-container">
    <div class="login-box">
        <h1>Login</h1>
        <form th:action="@{/login}" method="post">
            <label for="login_username" class="label">Username</label>
            <input type="text" id="login_username" name="username" required="" class="input-style">
            <label for="login_password" class="label">Password</label>
            <input type="password" id="login_password" name="password" required="" class="input-style">
            <button type="submit" class="login">Login</button>
        </form>

        <div class="register-text">Doesn't have an account yet? <a class="register-link" th:href="@{/user/registration}"> Register here!</a></div>
    </div>
</div>
</body>
</html>