<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register new expense</title>

    <link rel="stylesheet" th:href="@{/css/register.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body style="background-color: #dae2f1">
<div class="general-container">
    <div class="register-box">

        <form action="#" th:action="@{/register}" th:object="${cost}" method="post"
              id="costRegistrationId">
            <div class="title">
                <h1>Register a new expense</h1>
            </div>

            <div class="first-row-form">
                <div class="input-wrapper-first-row">
                    <label class="label" for="dateCostRegister">Date</label>
                    <input type="date" id="dateCostRegister" class="first-row-form-element" th:field="*{date}"/>
                </div>
                <div class="input-wrapper-first-row">
                    <label for="amountCostRegister">Amount</label>
                    <input type="number" step="any" id="amountCostRegister" class="first-row-form-element"
                           th:field="*{amount}"/>
                </div>
                <div class="input-wrapper-first-row">
                    <label for="originCostRegister">Origin</label>
                    <input type="text" step="any" id="originCostRegister" class="first-row-form-element"
                           th:field="*{origin}"/>
                </div>
            </div>
            <div class="input-wrapper">
                <label for="descriptionCostRegister">Description</label>
                <input type="text" id="descriptionCostRegister" class="form-element" th:field="*{description}"/>
            </div>

            <div class="input-wrapper">
                <label for="categoryCostRegister">Category</label>
                <select id="categoryCostRegister" class="form-element" th:field="*{category}">
                    <option value="" disabled selected>Select a category</option>
                    <option th:each="category : ${categoriesMap.keySet()}"
                            th:value="${category.name}"
                            th:text="${category.displayName}"></option>
                </select>
            </div>

            <div class="input-wrapper">
                <label for="subcategoryCostRegister">Subcategory</label>
                <select id="subcategoryCostRegister" class="form-element" th:field="*{subcategory}">
                    <option value="" disabled selected>Select a subcategory</option>
                </select>
            </div>

            <div class="input-wrapper">
                <label for="commentCostRegister">Comment</label>
                <input type="text" id="commentCostRegister" class="form-element" th:field="*{comment}"/>
            </div>

            <div class="share-box">
                <h3>Do you want to split?</h3>
                <table class="share-table" id="sharedCosts">
                    <tr>
                        <th>Who?</th>
                        <th>Amount?</th>
                        <th>Paid?</th>
                    </tr>
                    <tr th:each="parent, stat : *{shared}">
                        <td><input type="text" class="share-table-row"
                                   th:name="*{shared[__${stat.index}__].debtor}"
                                   th:field="*{shared[__${stat.index}__].debtor}"></td>
                        <td><input type="number" step="any" class="share-table-row"
                                   th:name="*{shared[__${stat.index}__].amount}"
                                   th:field="*{shared[__${stat.index}__].amount}"></td>
                        <td class="centered">
                            <input type="checkbox" class="share-table-row"
                                   th:name="*{shared[__${stat.index}__].paid}"
                                   th:field="*{shared[__${stat.index}__].paid}">
                        </td>
                    </tr>
                </table>
                <div class="share-buttons">
                    <input class="add-share-button" id="buttonAddSharedCost" type="button"
                           value="+"
                           name="buttonShareCost"/>

                    <input class="remove-share-button" id="buttonDeleteSharedCost" type="button"
                           value="-"
                           name="buttonDeleteCost"/>
                </div>
            </div>

            <div class="form-buttons">
                <button class="register-button" type="submit" value="Submit">Register</button>
                <button class="clean-button" type="reset" value="reset">Clean form</button>
            </div>

        </form>
    </div>
</div>

<script th:inline="javascript">
    const categoriesMap = [[${categoriesMap}]];
</script>
<script type="text/javascript" th:src="@{/js/register_cost.js}"></script>
</body>
</html>