<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses</title>
    <link rel="stylesheet" th:href="@{/css/general.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/show-expenses.css}" type="text/css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--Links to table data-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
</head>
<body style="background-color: #dae2f1">
<div class="general-container">
    <div class="expenses-box">
        <div>
            <table id="showTableId"
                   data-search-highlight="true">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th style="width: 40%" scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Subcategory</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="cost : ${costs}">
                    <tr th:id="${cost.id}" onclick="handleClickCost(this)">
                        <td data-label="Date" th:text="${cost.date}"></td>
                        <td data-label="Amount" th:text="${cost.amount}"></td>
                        <td data-label="Description" th:text="${cost.description}"></td>
                        <td data-label="Category" th:text="${cost.category}"></td>
                        <td data-label="Subcategory" th:text="${cost.subcategory}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script>
    function handleClickCost(param) {
        window.location.href = "/get/" + param.id
    }
</script>
<script type="text/javascript" th:src="@{/js/show_table.js}"></script>
</html>

