@media (min-width: 1200px) {
    .container {
        max-width: 2200px !important;
    }
    .row {
        max-width: 2200px !important;
    }
}

.main {
    background-color: #dae2f1;
}

.centered {
    text-align: center!important;
    padding-top: 20px!important;
}

input[type=checkbox] {
    transform: scale(2);
}